# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Project Specific
data/
knowledge/
*.log
.env

# IDEs
.vscode/
.idea/
test.py
/tools/knowledge_base/entries/
/logs/
/.venv-wsl/
/.vscode
/rag_db/
/test_plex_subtitles.py
/tools/rag/ingested_items.json
/gguf_models.json
/models/
