httpx
mcp
mcp-use
psutil
prompt_toolkit
gputil
pathlib2
typing-extensions
python-dotenv
requests
ollama
plexapi
llama-cpp-python
langchain-ollama
langchain-community
websockets
openai
pandas
lancedb
sentence-transformers
tzdata
a2a-sdk
fastapi
uvicorn